In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

mass_shootings= 'mass_shooting_data_clean.csv'
mass_shootings

'mass_shooting_data_clean.csv'

In [2]:
mass_shootings_pd = pd.read_csv(mass_shootings)
pd.DataFrame(mass_shootings_pd)

# Final DataFrame
mass_shootings_pd.head()

   year  Casualties   Latitude  Longitude
0  2016           4  38.744217 -90.305391
1  2016           5  38.845113 -76.874972
2  2016           6  36.765971 -78.928344
3  2016           4  39.290385 -76.612189
4  2016           5  41.878114 -87.629798