In [1]:
import pandas as pd
import numpy as np
import gmaps
from config import gkey
from ipywidgets.embed import embed_minimal_html

### File 1 is commented because the CSV file is too large to upload to Git. Will ask about getting ###
### this into the github somehow on a later date. ###

file = "./RAW_DATA/gun-violence-data_01-2013_03-2018.csv"
file2 = './RAW_DATA/nics-firearm-background-checks.csv'
file3 = './RAW_DATA/Mass_Shootings_Dataset.csv'

violence = pd.read_csv(file)
permit = pd.read_csv(file2)
mass_shoot = pd.read_csv(file3,encoding = "ISO-8859-1")

In [2]:
### Manipulate mass shooting data for use in visuals ###

mass_shoot= mass_shoot[np.isfinite(mass_shoot['Latitude'])]

mass_shoot = mass_shoot[['Date','Fatalities','Injured','Latitude','Longitude']]
mass_shoot.reset_index(inplace = False)
mass_shoot['year'] = mass_shoot["Date"].str.split("/").str[2]
mass_shoot['year'] = mass_shoot['year'].astype('int32')
mass_shoot["Casualties"] = mass_shoot["Fatalities"]+mass_shoot['Injured']
mass_shoot = mass_shoot[['year','Casualties','Latitude','Longitude']]

locations = mass_shoot[['Latitude','Longitude']].astype(float)

In [3]:
### Create visual for geographical distribution of mass shootings in US ###

gmaps.configure(api_key=gkey)
casualties = mass_shoot['Casualties']
locations = mass_shoot[["Latitude",'Longitude']]
figure = gmaps.figure(center = (38.0, -100.0),zoom_level = 3.9)

### Not interested in showing this layer in a png. Not much more to gleam than what the heatmap already shows. Can
### re-include later if need/want be ###

# casualty_layer = gmaps.symbol_layer(
#     locations, fill_color='rgba(0, 150, 0, 0.4)',
#     stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
#     info_box_content=[f"Casualties: {item}" for item in casualties])

heat_layer = gmaps.heatmap_layer(locations, weights=casualties, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
figure.add_layer(heat_layer)

figure

Figure(layout=FigureLayout(height='420px'))

In [4]:
### Manipulate gun permit data by year ###

permit["year"] = permit['month'].str.split('-').str[0]

permit['year'] = permit['year'].astype('int32')

permit_new = permit.loc[permit['year']>=2013]
permit_new = permit_new.filter(['year','state','totals'])

In [5]:
### Summary of total permits by year ###

data = {"year":np.arange(2013,2019)}

permit_sum = pd.DataFrame(data)
permit_sum
total_permits = []                        
for i in range(2013,2019):
     total_permits.append(permit_new.loc[permit_new['year']==i]['totals'].sum())
permit_sum['total_permits'] = total_permits

permit_sum

   year  total_permits
0  2013       20966704
1  2014       20860241
2  2015       23026288
3  2016       27425512
4  2017       24955919
5  2018       18855174

In [10]:
### Manipulating the crime data ###

### Make sure to un-comment once the csv size problem is fixed ###

violence_new = violence[['incident_id','date','n_killed','n_injured','latitude','longitude']]
violence_new = violence_new.dropna()
violence_new.reset_index(inplace = False)
violence_new['year'] = violence_new['date'].str.split('/').str[2]
violence_new['year'] = violence_new['year'].astype(int)
violence_new.head()
violocation = violence_new[['latitude','longitude']]
viocasual = violence_new['n_killed']+violence_new['n_injured']
violence_new

        incident_id       date  n_killed  n_injured  latitude  longitude  year
0            461105   1/1/2013         0          4   40.3467   -79.8559  2013
1            460726   1/1/2013         1          3   33.9090  -118.3330  2013
2            478855   1/1/2013         1          3   41.4455   -82.1377  2013
3            478925   1/5/2013         4          0   39.6518  -104.8020  2013
4            478959   1/7/2013         2          2   36.1140   -79.9569  2013
...             ...        ...       ...        ...       ...        ...   ...
239671      1082061  3/31/2018         0          0   47.6638  -117.2350  2018
239673      1083139  3/31/2018         1          0   31.7537   -93.0836  2018
239674      1083151  3/31/2018         0          1   29.9239   -90.0442  2018
239675      1082514  3/31/2018         1          0   29.7201   -95.6110  2018
239676      1081940  3/31/2018         2          0   44.7293   -69.7691  2018

[231754 rows x 7 columns]

In [7]:
fig = gmaps.figure(center = (38.0, -100.0),zoom_level = 3.9)

heat_layer = gmaps.heatmap_layer(violocation, weights=viocasual, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 0.25)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
### Make sure to un-comment once the csv size problem is fixed ###

violence_new.to_csv(r'./CLEAN_DATA/crime_data_clean.csv', index = False)
permit_new.to_csv(r'./CLEAN_DATA/permit_data_clean.csv',index = False)
permit_sum.to_csv(r'total_permits_by_year.csv',index = False)
mass_shoot.to_csv(r'mass_shooting_data_clean.csv',index = False)